<h1>Edit Todo</h1>
<div class="container">
  <form method='POST' action='/todos/edit/<%= item._id %>?_method=PUT'>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name" value="<%= item.name%>">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" name="description" value="<%= item.description%>">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="completed"<%= checked%>>Completed?</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br>
  <% if (error) {%>
  <%= error%>
  <br>
  <p>Please reenter information and press submit.</p>
  <% }%>
</div>
</body>
</html>